<%= render 'pages/home' unless user_signed_in? %>


<div class="jumbotron center">


<h1>Welcome to Trydah</h1>
  <form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="text" class="form-control" id="Zipcode" placeholder="Enter Address">
  </div>



  <button type="submit" class="btn btn-danger">Search</button>
</form>
  
</div>




  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter by cuisine <b class="caret"></b></a>

          <ul class="dropdown-menu">
            <li><a href="#">Italian</a></li>
            <li><a href="#">Chinese</a></li>
            <li><a href="#">Thai</a></li>
            <li><a href="#">Mexican</a></li>
            <li><a href="#">Indian</a></li>
            <li><a href="#">American</a></li>
            <li><a href="#">Deli</a></li>
            <li><a href="#">Japanese</a></li>
            <li><a href="#">Seafood</a></li>
            <li><a href="#">Pizza</a></li>
            <li><a href="#">Bar Food</a></li>
            <li><a href="#">Sushi</a></li>
            <li><a href="#">Korean</a></li>
            <li><a href="#">Latin American</a></li>
            <li><a href="#">Sandwiches</a></li>
            <li class="divider"></li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </li>



<div id="pins" class="transitions-enabled">
<% @pins.each do |pin| %>
  <div class="box panel panel-default"> 
        <%=link_to image_tag(pin.image.url(:medium)), pin %>
        <div class="panel-body">
        <p><%= pin.description %></p>
       <p><strong><%= pin.user.name if pin.user %></strong></p>
        
        <% if pin.user == current_user %>
        <div class="actions">
        <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
        </div>
        <% end %>
  
    </div>
      </div>
 <% end %>
</div>






